:root {
    --light : #fff;
    --dark : #26252a;
    --primary: #f8565d;
    --secondary: #343438;
}

$clr-light: var(--light);
$clr-dark: var(--dark);
$clr-primary: var(--primary);
$clr-secondary: var(--secondary);


$sm: "42rem";   // use variable if the element is repeatable
$md: "92rem";
$lg: "144rem";
$xl: "180rem";
